{% extends "_base.html" %} 
{% set page_id = 'app' %} 
{% set page_title = 'App' %} 
{% block content %} 
{% if current_user.is_authenticated %}
<div>
	{% include "menu.html" %}
	<div>
		<a href="/add/" class="btn btn-primary mt-3 mb-3">
			<div class="w-100">+ Dodaj nowy rekord</div>
		</a>
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Nazwisko</th>
					<th scope="col">Pierwsze imię</th>
					<th scope="col">Drugię imię</th>
					<th scope="col">Data urodzenia</th>
					<th scope="col">PESEL</th>
					<th scope="col">Adres zamieszkania</th>
					<th scope="col">Telefon kontaktowy</th>
					<th scope="col">Funkcja</th>
					<th scope="col">Akcje</th>
				</tr>
			</thead>
			<tbody>
				{% for harcerz in harcerze %}
				<tr>
					<th scope="row">{{ loop.index }}</th>
					<td>{{harcerz.last_name}}</td>
					<td>{{harcerz.first_name}}</td>
					<td>{% if harcerz.second_name %}{{harcerz.second_name}}{% else %}-{% endif %}</td>
					<td>{{harcerz.birthdate}}</td>
					<td>{{harcerz.pesel}}</td>
					<td>{{harcerz.adres}}</td>
					<td>{{harcerz.nrkont}}</td>
					<td>{{harcerz.funkcja}}</td>
					<td>
						<a href="/delete/{{harcerz.id}}/" class="text-danger">Usuń</a>
						<a href="/edit/{{harcerz.id}}/" class="text-warning">Edytuj</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<a href="/add/" class="btn btn-primary mt-3 mb-3">
			<div class="w-100">+ Dodaj nowy rekord</div>
		</a>


	</div>
</div>
{% else %}
<div class="jumbotron jumbotron-fluid p-3" style="border: 1px dashed">
	<div class="container pt-5 pb-3">
		<h1 class="display-4 mt-3">Witaj!</h1>
		<p class="lead">Oto Elektroniczna Ewidencja Harcerzy, czyli baza danych harcerzy :)</p>
		<hr class="my-4">
		<a style="display: inline-block;" class="btn btn-primary sm-btn-lg sm-btn-block" href="/login" role="button">Zaloguj się</a>
		<a style="display: inline-block;" class="btn btn-secondary sm-btn-lg sm-btn-block" href="/about" role="button">Dowiedz się więcej</a>
	</div>
</div>
{% endif %} {% endblock %}