<div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link {% if page_id=='app'%}active"{% else %}" href="/app/" {% endif %}>Druhowie</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if page_id=='plan' or page_id=='plan-new'%}active"{% else %}" href="/plan/" {% endif %}>Plan pracy</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if page_id=='scouting_troops' %}active"{% else %}" href="/scouting-troops" {% endif %}>Zastępy</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if page_id=='settings'%}active"{% else %}" href="/settings" {% endif %}>Ustawienia</a>
        </li>
    </ul>
</div>