{% extends "_base.html" %} 
{% set page_id = 'plan' %} 
{% set page_title = 'Plan pracy' %} 
{% block content %} 
<div>
	{% include "menu.html" %}
	<div class="mt-3 mb-3">
		<select onChange="window.location.href=this.value" class="custom-select" style="width: auto!important; min-width: 74%; display: inline-block">
			{% for work_plan in work_plans %}
			<option value="{{request.host_url}}plan/?work-plan={{work_plan['id_work_plan']}}" {% if current_work_plan['id_work_plan'] == work_plan['id_work_plan'] %}selected{% endif %}>{{work_plan['name']}}</option>
			{% endfor %}
		</select>
		<a href="/plan/new/">
			<div class="btn btn-primary" style="width: 25%">+ Nowy plan</div>
		</a>
		<h1>Plan pracy - {{current_work_plan['name']}}</h1>
		<h2>Wizja</h2>
		<p>{{wizja}}</p>
		<h2>Cele i metody</h2>
		<p>{{cele}}</p>
		<h2>Charakterystyki indywidualne</h2>
		
		{% for harcerz in harcerze %}
		<p>
			<b>{{harcerz['first_name'] + harcerz['last_name']}}</b><br>
			<b>Charakterystyka: </b><br>
			{{harcerz['charakterystyka']}}
			<b>Cele: </b><br>
			{{harcerz['cele']}}
		</p>
		{% endfor %}
	</div>
</div>
{% endblock %}