{% extends "_base.html" %} 
{% set page_id = 'plan' %} 
{% set page_title = 'Plan pracy' %} 
{% block content %} 
<div>
	{% include "menu.html" %}
	<div class="mt-3 mb-3">
		<select onChange="window.location.href=this.value" class="custom-select">
			{% for plan in plany %}
			<option value="{{request.host_url}}plan/{{plan.id}}" {% if plan.id == current_user.current_plan %}selected{% endif %}>{{plan.name}}</option>
			{% endfor %}
		</select>
		<h1>Plan pracy</h1>
		<h2>Wizja</h2>
		<p>{{wizja}}</p>
		<h2>Cele i metody</h2>
		<p>{{cele}}</p>
		<h2>Charakterystyki indywidualne</h2>
		
		{% for harcerz in harcerze %}
		<p>
			<b>{{harcerz['first_name'] + harcerz['last_name']}}</b><br>
			<b>Charakterystyka: </b><br>
			{{harcerz['charakterystyka']}}
			<b>Cele: </b><br>
			{{harcerz['cele']}}
		</p>
		{% endfor %}
	</div>
</div>
{% endblock %}