{% extends "_base_no_menu.html" %}

{% set page_id = 'register' %}
{% set page_title = 'Register' %}

{% block content %}
  <div class="row register-row">
    <div class="col-lg-4">
    </div>
    <div class="col-lg-4 bg-white m-2" style="padding:15px; border: 1px dashed;">
      <h3>Rejestracja</h3>
		<form id="form" method=post action="{{url_for('register', next=request.args.get('next'))}}">
            <div class="form-group">
                <input id="full-name" name="full-name" type="text" class="form-control" placeholder="Nazwa drużyny">
                {% if used_username %}
                <small class="form-text text-danger">
                    Ta nazwa jest już zajęta!
                </small>
                {% endif %}
            </div>
            <div class="form-group">
                <input autocapitalize="none" class="form-control" id="email" name="email" type="email" value="{% if form %}{{form['email']}}{% endif %}" placeholder="Adres email drużynowego">
                {% if wrong_email %}
                <small class="form-text text-danger">
                    Niepoprawny adres email!
                </small>
                {% endif %}
            </div>
            <div class="form-group">
                <input autocapitalize="none" class="form-control" id="password" name="password" type="password" value="" placeholder="Hasło">
                <ul id="pass" class="bg-white m-2 p-2 rounded" style="width: 80%; padding: .375rem .75rem; display: none; position: absolute; z-index: 999; -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75); -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75); box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);">
                    <li id="letter" class="text-danger ml-4"><small class="form-text"><b>Duże</b> i <b>małe</b> litery</small></li>
                    <li id="number" class="text-danger ml-4"><small class="form-text"><b>Cyfry</b></small></li>
                    <li id="length" class="text-danger ml-4"><small class="form-text"><b>8</b> znaków</small></li>
                </ul>
            </div>
            <div class="form-group">
                <input autocapitalize="none" class="form-control" id="confirm" name="confirm" type="password" value="" placeholder="Powtórz hasło">
                {% if wrong_password %}
                <small class="form-text text-danger">
                    Błędne hasło
                </small>
                {% endif %}
            </div>
            <!--<div class="form-check">
                <input class="form-check-input" id="accept_tos" name="accept_tos" type="checkbox" value="checked" {% if form %}{{form['accept_tos']}}{% endif %}>
                <label class="form-check-label" for="accept_tos">Akceptuję Warunki użytkowania i Politykę prywatności (zaktualizowana 17 stycznia 2018r.)</label>
                {% if not_accept %}
                <small class="form-text text-danger">
                    Aby się zarejestrować musisz zaakceptować!
                </small>
                {% endif %}
            </div><br>-->
            <button id="submit" class="btn btn-lg btn-dashed-primary btn-block" type="submit">Zarejestruj się</button>
		</form>
	</div>
    <div class="col-lg-4">
    </div>
  </div>
<center><p>Masz już konto? <a href="{{url_for('login', next=request.args.get('next'))}}" style="text-decoration: none">Zaloguj się</a></p></center>
{% endblock %}