{% extends "_base.html" %} 
{% set page_id = 'scouting_troops' %} 
{% set page_title = 'Scouting troops' %} 
{% block content %} 
{% include "menu.html" %}
<div class="mt-3 mb-3">
	<div class="row"><a href="/scouting-troops/">
		<div class="ml-2 mr-5">< Wróć</div>
	</a>
	<h4>{{scouting_troop['name']}}</h4>	
	<a href="/scouting-troop/create" class="btn btn-primary mb-3" data-toggle="modal" data-target="#exampleModalCenter" style="margin-left: auto; right:0">
		<div class="w-100">+ Dodaj nowy zastęp</div>
	</a></div>
	{% if scouts %}
	<table class="table table-hover">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Imię</th>
				<th scope="col">Nazwisko</th>
				<th scope="col">Funkcja</th>
				<th scope="col">Akcje</th>
			</tr>
		</thead>
		<tbody>
			{% for scout in scouts %}
			<tr>
				<th scope="row">{{ loop.index }}</th>
				<td>{{scout['first_name']}}</td>
				<td>{{scout['last_name']}}</td>
				<td>{{scout['name']}}</td>
				<td>
					
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	<br><div class="row" style="text-align: center"><h2 class="w-100">Nikogo nie ma w tym zastępie :/</h2></div>
	{% endif %}
</div>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content" style="border-radius: 0">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalCenterTitle">Stwórz nowy zastęp</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form id="new-scouting-troop" method="POST">
					<div class="form-group">
						<input autocapitalize="none" class="form-control" id="name" name="name" type="text" placeholder="Nazwa zastępu">
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="submit" form="new-scouting-troop" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}