@charset "utf-8";

@mixin filter($filters) {
  -webkit-filter: $filters;
  -moz-filter: $filters;
  -o-filter: $filters;
  -ms-filter: $filters;
  filter: $filters;
}

/*-------------------------
	Simple reset
--------------------------*/

.primary {
  background-color: #757575;
  color: #ffffff;
}
.primary-light {
  background-color: #a4a4a4;
  color: #ffffff;
}
.primary-dark {
  background-color: #494949;
  color: #ffffff;
}
.secondary {
  background-color: #1976d2;
  color: #ffffff;
}
.secondary-light {
  background-color: #63a4ff;
  color: #ffffff;
}
.secondary-dark {
  background-color: #004ba0;
  color: #ffffff;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
/*-------------------------
	Demo page
-------------------------*/

.name {
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  width: 70%;
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  top: 40px;
}
.ikona {
  width: 80px;
}
@media (max-width: 480px) {
  .name {
    width: 45%;
  }
}

@media (max-width: 768px) {
  .brandings a {
    width: 46px !important;
    height: 46px;
  }
}

.btn {
  border-radius: 0;
}

.form-control {
  border-radius: 0;
}

.brandings {
  position: fixed;
  top: 60px;
  right: 20px;
  z-index: 97;
  height: 100px;
  animation-name: showBrandings;
  animation-duration: 1s;
}

.brandings a {
  width: 92px;
  display: inline-block;
}

.brandings a img {
  width: 100%;
  height: auto;
}

#messages {
  right: 30px;
  position: fixed;
  height: 100%;
  width: 550px;
  z-index: 98;
}

#messages div {
  animation-name: showMessages;
  animation-duration: 1s;
}

@keyframes showMessages {
  0% {
    @include filter(blur(3px));
    right: -20px;
    opacity: 0;
  }
  100% {
    @include filter((blur(0px)));
    right: 0px;
    opacity: 1;
  }
}

@keyframes hideMessage {
  0% {
    @include filter((blur(0px)));
    right: 0px;
    opacity: 1;
  }
  100% {
    @include filter(blur(3px));
    right: -30px;
    opacity: 0;
  }
}

@keyframes showBrandings {
  0% {
    top: -90px;
  }
  100% {
    top: 60px;
  }
}

.container {
  padding-top: 100px;
}

.navbar {
  position: fixed !important;
  width: 100%;
}

.app-menu-item {
    width: 370px; 
    height: 370px;
    border: 1px dashed;
    text-align: center;
    margin: 5px;
}

.app-menu-item a {
    position: relative; 
    text-decoration: none;
    color: black;
}

.app-menu-item-text {
    height: 100%;
padding-top: 80%;
font-size: 24px;
}